:root{
    --color1: #1f1c1c;
    --color2: #9DD9D2;
    --color3: #439ee9;
    --color4: #F2AF29;
    --color5: #F07167;
}

body {
    background: var(--color2);
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', 'sans-serif';
}

header {
    display: flex;
}

h2 {
    font-size: 30px;
    display: flex;
    margin: 20px auto;
    padding: 5px;
}

.highScore {
    border: 5px var(--color1) solid;
    border-radius: 15px;
    background-color: var(--color1);
    color: var(--color4);
}

.timer {
    border: 5px var(--color1) solid;
    border-radius: 15px;
    color: var(--color4);
    background-color: var(--color1);
}

h1 {
    text-align: center;
    font-size: 60px;
    border-bottom: 10px solid var(--color1);
    font-style: bold;
    color: var(--color1);
}

.question {
    text-align: center;
    font-size: 40px;
    color: var(--color1);
    margin: 20px;
    font-style: bold;
    border-bottom: var(--color1) 3px solid;
}

.responses {
    text-align: center;
    font-size: 20px;
    font-style: bold;
}

.quizBox {
    border: var(--color1) solid 10px;
    border-radius: 30px;
    background-color: var(--color4);
    margin: 50px;
}

.buttons {
    display: flex;
    margin: 10px auto;
    justify-content: space-around;
}

button {
    border: #1f1c1c 5px solid;
    border-radius: 10px;
    background-color: var(--color3);
    font-style: bold;
    font-size: 20px;
    width: 100%;
    margin: 10px;
}

.startBtn {
    font-size: 30px;
    width: 30%;
    margin: 0 auto;
}

.highscores {
    border: var(--color1) solid 10px;
    border-radius: 30px;
    background-color: var(--color4);
    margin: 50px;
    font-size: 30px;
}

.title {
    text-align: center;
    font-size: 40px;
    border-bottom: var(--color1) 3px solid;
    margin: 20px;
}