:root{
    --color1: #1f1c1c;
    --color2: #9DD9D2;
    --color3: #439ee9;
    --color4: #F2AF29;
    --color5: #F07167;
}

body {
    background: var(--color2);
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', 'sans-serif';
}

header {
    display: flex;
}

h2 {
    font-size: 30px;
    display: flex;
    margin: 20px auto;
    padding: 5px;
}

.highScore {
    border: 5px var(--color1) solid;
    border-radius: 15px;
    background-color: var(--color1);
    color: var(--color4);
}

.timer {
    border: 5px var(--color1) solid;
    border-radius: 15px;
    color: var(--color4);
    background-color: var(--color1);
}

h1 {
    text-align: center;
    font-size: 60px;
    border-bottom: 10px solid var(--color1);
    font-style: bold;
    color: var(--color1);
}

.question {
    text-align: center;
    font-size: 40px;
    color: var(--color1);
    margin: 20px;
    font-style: bold;
    border-bottom: var(--color1) 3px solid;
}

.quizBox {
    border: var(--color1) solid 10px;
    border-radius: 30px;
    background-color: var(--color4);
    margin: 50px;
}

button {
    width: 60%;
    margin: 10px 20%;
    font-size: 30px;
    color: var(--color1);
    border: 3px solid var(--color1);
    border-radius: 5px;
    background-color: var(--color3);
}